Source: libvmod-var
Priority: extra
Maintainer: webops <webops@newsweek.com>
Build-Depends: debhelper (>= 8.0.0), devscripts, curl, autotools-dev,
 automake, libtool, autoconf, libncurses-dev, xsltproc, groff-base,
 libpcre3-dev, pkg-config, python-docutils, libedit-dev, libcurl4-gnutls-dev
Standards-Version: 3.9.2
Section: libs
Homepage: https://github.com/butlern/libvmod-var
Vcs-Git: git@github.com:butlern/libvmod-var.git
Vcs-Browser: https://github.com/butlern/libvmod-var

Package: libvmod-var
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, varnish (>= 3.0.2)
Built-Using: varnish (= 3.0.2)
Description: vmod implements basic variables in VCL.
  This vmod implements basic variable in VCL. Well. It's more of an
  association list with support for strings, ints and reals.
